[submodule "Lisa/vendor/spdlog"]
	path = Lisa/vendor/spdlog
	url = ../../gabime/spdlog.git
[submodule "Lisa/vendor/GLFW"]
	path = Lisa/vendor/GLFW
	url = ../../TheCherno/GLFW.git
[submodule "Lisa/vendor/imgui"]
	path = Lisa/vendor/imgui
	url = ../../TheCherno/imgui.git
[submodule "Lisa/vendor/glm"]
	path = Lisa/vendor/glm
	url = ../../g-truc/glm.git
[submodule "Lisa/vendor/yaml-cpp"]
	path = Lisa/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
